@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

@layer base {
  html {
    font-family: 'Berkshire Swash', cursive;
  }
}

.container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
